@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
/* 
font-family: 'Be Vietnam Pro', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
*/
/* =================
common css all
==================== */
*{
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}
img{
    max-width: 100%;
}
.container{
    max-width:1440px;
    margin: 0 auto;
}
.row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.half-width{
    width: 45%;
}
.text-color{
    color: #3F6B91;
}
.btn{
    text-decoration: none;
    padding: 18px 20px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background: #FF5959;
    border-radius: 5px;
    border: none;
}
.btn:hover{
    background: green;
}

/* ========================
section 01 start from here
=========================== */
.section-01{
    width: 100%;
    margin: 80px 0;
}
.section-01 .content .line{
    width: 5px;
    height: 127px;
    background: salmon;
    border-radius: 20px;
    position: absolute;
}
.section-01 .content h1{
    font-size: 50px;
    color: rgba(0, 0, 0, 0.7);
    margin: 0;
    margin-left: 20px;
    position: relative;
}
.section-01 .content .disc{
    font-size: 18px;
    margin: 40px 0;
}
.section-01 .content .scroll-down{
    margin-top: 40px;
    font-size: 20px;
}
/* ========================
section 02 start from here
=========================== */
.section-02{
    width: 100%;
    margin: 80px 0;
}
.section-02 h1{
    font-size: 50px;
    text-align: center;
    margin: 30px 0;
}
.section-02 .child{
    width: 30%;
    padding: 1.5rem;
    background-color: #FFF4D6;   
}
.section-02 .child02{
    width: 30%;
    padding: 1.5rem;   
}
.section-02 .img-size{
    width: 190px;
}
.section-02 .content01 h2{
    color: rgba(0, 0, 0, 0.6);
    font-size: 30px;
}
.section-02 .content01  p{
    font-size: 18px;
    color: gray;
}
/* =========================
section 03 start from here
============================ */
.section-03{
    width: 100%;
    margin: 80px 0;
    background-image: url(../img/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 400px;
}
.section-03 .content{
    padding: 30px 0;
}
.section-03 .content h1{
    font-size: 40px;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
}
.section-03 .content p{
    font-size: 21px;
    padding: 30px 0;
    color: gray;
}
/* ========================
section 04 start from here
=========================== */
.section-04{
    width: 100%;
    margin: 80px 0;
    background-image: url(../img/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 400px;
}
.section-04 .content{
    padding: 35px 0;
}
.section-04 .content h1{
    font-size: 40px;
    margin: 0;
    color: rgba(0, 0, 0, 0.6);
}
.section-04 .content p{
    font-size: 21px;
    padding: 30px 0;
    color: gray;
}
/* ========================
section 05 start from here
=========================== */
.section-05{
    width: 100%;
    margin: 80px 0;
}
.section-05 .head-title{
    font-size: 40px;
    text-align: center;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'Poppins', sans-serif;
}
.section-05 .line{
    width: 200px;
    margin: 10px auto;
    height: 5px;
    margin-bottom: 20px;
    background: #3F6B91;

}
.section-05 .content{
    padding: 20px;
}
.section-05 .content .title{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
    color: gray;
}
.section-05 .content h1{
    font-size: 40px;
    margin: 0;
    color: gray;
    margin: 20px 0;
}
.section-05 .content{
    font-size: 18px;
    color: gray;
}
.section-05 .img-size{
    width: 700px;
}
/*================================
 footer section start from here 
 =================================*/
.footer-section{
    width: 100%;
    background-color: #0B0D17;
    height: 25vh;
}
.footer-content h1{
    text-align: center;
    color: white;
    padding: 50px 0px 28px 3px;
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}
.footer-content p{
    text-align: center;
    color: white;
}